# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Data files - good practice to not commit large datasets
*.csv
*.json
*.db
*.sqlite3

# Environment variables
.env
